body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #F8BBD0, #E1BEE7, #FFCCBC);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
    backdrop-filter: blur(10px);
}

.logo-icon { font-size: 50px; color: #4A148C; }
h1 { font-family: serif; font-style: italic; color: #4A148C; line-height: 0.9; margin: 10px 0 30px 0; }

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.primary-btn { background: #4A148C; color: white; }
.primary-btn:hover { background: #6A1B9A; }

.secondary-btn { background: transparent; color: #4A148C; border: 1px solid #4A148C; }
.secondary-btn:hover { background: #F3E5F5; }

#status-msg { font-size: 12px; margin-top: 10px; color: red; }
