body.dark-mode {
    background-color: #121212 !important;
    color: #ffffff !important;
}

body.dark-mode header, 
body.dark-mode .bottom-nav, 
body.dark-mode .modal-box,
body.dark-mode .card,
body.dark-mode .description-box,
body.dark-mode .note-box,
body.dark-mode .info-card,
body.dark-mode .search-bar {
    background-color: #1E1E1E !important;
    color: #ffffff !important;
    border-color: #333 !important;
}

body.dark-mode input, 
body.dark-mode textarea {
    background-color: #2C2C2C !important;
    color: white !important;
    border: 1px solid #444 !important;
}

body.dark-mode .card-title,
body.dark-mode #header-title,
body.dark-mode .section-label {
    color: #ffffff !important;
}

body.dark-mode .card-link {
    color: #aaa !important;
}

body.dark-mode .header-icon-btn {
    color: #FFD700 !important;
}
