body.dark-mode {
    background-color: #121212 !important;
    color: #ffffff !important;
}

body.dark-mode header, 
body.dark-mode .bottom-nav, 
body.dark-mode .modal-box,
body.dark-mode .card,
body.dark-mode .description-box,
body.dark-mode .note-box,
body.dark-mode .info-card {
    background-color: #1E1E1E !important;
    color: #ffffff !important;
    border-color: #333 !important;
}

body.dark-mode input, 
body.dark-mode textarea {
    background-color: #2C2C2C !important;
    color: white !important;
    border: 1px solid #444 !important;
}

body.dark-mode .card-title,
body.dark-mode #header-title,
body.dark-mode .section-label {
    color: #ffffff !important;
}

body.dark-mode .card-link {
    color: #aaa !important;
}

#dark-mode-toggle {
    position: fixed;
    top: 15px;
    right: 70px;
    z-index: 100;
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
    font-size: 24px;
}
body.dark-mode #dark-mode-toggle {
    color: #FFD700;
}
